[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
[Service]
EnvironmentFile=-/etc/kubernetes/config
ExecStart=/usr/bin/kube-scheduler \\
--address=127.0.0.1 \\
--leader-elect=true \\
--etcd-servers=http://{MASTER_NAME}:2379 \\
--logtostderr=true \\
--v=0 \\
--allow-privileged=true
--master=http://${MASTER_NAME}:8080
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target